.pdf-obj-0-2{width:1200px;height:1694px;}
.pdf-obj-1-2{width:1200px;height:1694px;}
.pdf-obj-2-2{width:1200px;height:1694px;}
.pdf-obj-3-2{width:1200px;height:1694px;}
.pdf-obj-4-2{width:1200px;height:1694px;}
.pdf-obj-5-2{width:1200px;height:1694px;}
.pdf-obj-6-2{width:1200px;height:1694px;}
.pdf-obj-7-2{width:1200px;height:1694px;}
.pdf-obj-8-2{width:1200px;height:1694px;}
.pdf-obj-9-2{width:1200px;height:1694px;}
.pdf-obj-10-2{width:1200px;height:1694px;}
.pdf-obj-11-5{width:394px;height:378px;}
.pdf-obj-11-15{width:1012px;height:641px;}
.pdf-obj-14-5{width:188px;height:60px;}
.pdf-obj-14-7{width:278px;height:160px;}
.pdf-obj-14-15{width:164px;height:312px;}
.pdf-obj-14-36{width:294px;height:375px;}
.pdf-obj-14-43{width:247px;height:107px;}
.pdf-obj-20-7{width:794px;height:553px;}
.pdf-obj-25-34{width:613px;height:496px;}
.pdf-obj-25-38{width:40px;height:12px;}
.pdf-obj-28-12{width:855px;height:504px;}
.pdf-obj-29-29{width:730px;height:447px;}
.pdf-obj-32-72{width:858px;height:468px;}
.pdf-obj-34-5{width:912px;height:614px;}
.pdf-obj-35-29{width:649px;height:433px;}
.pdf-obj-36-106{width:856px;height:492px;}
.pdf-obj-38-118{width:884px;height:529px;}
.pdf-obj-41-160{width:850px;height:498px;}
.pdf-obj-43-130{width:638px;height:268px;}
.pdf-obj-43-134{width:638px;height:39px;}
.pdf-obj-44-18{width:856px;height:522px;}
.pdf-obj-46-32{width:638px;height:322px;}
.pdf-obj-46-39{width:638px;height:92px;}
.pdf-obj-48-33{width:681px;height:249px;}
.pdf-obj-48-37{width:638px;height:40px;}
.pdf-obj-48-39{width:56px;height:17px;}
.pdf-obj-49-228{width:602px;height:99px;}
.pdf-obj-49-238{width:638px;height:39px;}
.pdf-obj-49-240{width:55px;height:17px;}
.pdf-obj-51-30{width:691px;height:318px;}
.pdf-obj-51-34{width:638px;height:40px;}
.pdf-obj-51-36{width:55px;height:17px;}
.pdf-obj-93-7{width:894px;height:671px;}
.pdf-obj-97-9{width:1017px;height:577px;}
.pdf-obj-97-11{width:235px;height:194px;}
.pdf-obj-101-31{width:455px;height:26px;}
.pdf-obj-172-6{width:899px;height:633px;}
.pdf-obj-174-5{width:920px;height:636px;}
.pdf-obj-176-36{width:922px;height:226px;}
.pdf-obj-179-5{width:882px;height:615px;}
.pdf-obj-180-7{width:908px;height:641px;}
.pdf-obj-182-7{width:917px;height:646px;}
.pdf-obj-185-13{width:1000px;height:691px;}
.pdf-obj-187-33{width:917px;height:646px;}
.pdf-obj-190-7{width:917px;height:558px;}
.pdf-obj-191-263{width:915px;height:26px;}
.pdf-obj-191-284{width:914px;height:26px;}
.pdf-obj-222-12{width:577px;height:496px;}
.pdf-obj-236-5{width:1031px;height:674px;}
.pdf-obj-252-7{width:913px;height:581px;}
.pdf-obj-253-682{width:962px;height:609px;}
.pdf-obj-264-5{width:1138px;height:383px;}
.pdf-obj-265-5{width:1138px;height:709px;}
.pdf-obj-266-5{width:1138px;height:497px;}
.pdf-obj-267-5{width:1138px;height:565px;}
.pdf-obj-272-5{width:1138px;height:314px;}
.pdf-obj-273-5{width:1138px;height:709px;}
.pdf-obj-274-5{width:1138px;height:551px;}
.pdf-obj-275-5{width:1138px;height:709px;}
.pdf-obj-277-5{width:1138px;height:709px;}
.pdf-obj-283-5{width:1138px;height:567px;}
.pdf-obj-297-5{width:1138px;height:709px;}
.pdf-obj-302-5{width:1138px;height:709px;}
.pdf-obj-323-5{width:1138px;height:709px;}
.pdf-obj-324-5{width:1138px;height:709px;}
.pdf-obj-326-5{width:1138px;height:709px;}
.pdf-obj-329-5{width:1138px;height:709px;}
.pdf-obj-330-5{width:1138px;height:709px;}
.pdf-obj-332-5{width:1138px;height:496px;}
.pdf-obj-333-5{width:1138px;height:537px;}
.pdf-obj-334-5{width:1138px;height:709px;}
.pdf-obj-351-9{width:987px;height:771px;}
.pdf-obj-371-136{width:2px;height:1px;}
.pdf-obj-372-341{width:924px;height:601px;}
.pdf-obj-377-7{width:901px;height:732px;}
.pdf-obj-380-335{width:460px;height:602px;}
.pdf-obj-380-643{width:458px;height:45px;}
.pdf-obj-384-242{width:916px;height:520px;}
.pdf-obj-385-266{width:915px;height:28px;}
.pdf-obj-385-287{width:914px;height:28px;}
.pdf-obj-386-9{width:933px;height:714px;}
.pdf-obj-389-383{width:3px;height:3px;}
