.pdf-obj-0-6{width:1199px;height:615px;}
.pdf-obj-0-8{width:272px;height:210px;}
.pdf-obj-7-6{width:214px;height:394px;}
.pdf-obj-7-8{width:153px;height:183px;}
.pdf-obj-7-20{width:189px;height:180px;}
.pdf-obj-7-22{width:166px;height:169px;}
.pdf-obj-7-42{width:215px;height:239px;}
.pdf-obj-7-49{width:182px;height:93px;}
.pdf-obj-7-51{width:96px;height:102px;}
.pdf-obj-7-65{width:183px;height:147px;}
.pdf-obj-7-67{width:89px;height:98px;}
.pdf-obj-7-84{width:107px;height:129px;}
.pdf-obj-7-93{width:122px;height:146px;}
.pdf-obj-7-100{width:218px;height:347px;}
.pdf-obj-7-104{width:181px;height:130px;}
.pdf-obj-7-113{width:186px;height:323px;}
.pdf-obj-11-12{width:905px;height:518px;}
.pdf-obj-27-6{width:105px;height:104px;}
.pdf-obj-27-8{width:105px;height:104px;}
.pdf-obj-27-10{width:105px;height:104px;}
.pdf-obj-27-12{width:105px;height:104px;}
.pdf-obj-27-14{width:104px;height:104px;}
.pdf-obj-27-16{width:151px;height:584px;}
.pdf-obj-27-18{width:103px;height:104px;}
.pdf-obj-27-20{width:151px;height:584px;}
.pdf-obj-27-22{width:104px;height:104px;}
.pdf-obj-27-24{width:151px;height:580px;}
.pdf-obj-28-12{width:905px;height:426px;}
.pdf-obj-29-5{width:882px;height:410px;}
.pdf-obj-30-10{width:1038px;height:572px;}
.pdf-obj-31-7{width:618px;height:600px;}
.pdf-obj-31-9{width:301px;height:151px;}
.pdf-obj-31-11{width:301px;height:151px;}
.pdf-obj-43-12{width:71px;height:11px;}
.pdf-obj-43-28{width:76px;height:94px;}
.pdf-obj-43-33{width:622px;height:239px;}
.pdf-obj-43-35{width:72px;height:195px;}
.pdf-obj-43-43{width:393px;height:138px;}
.pdf-obj-43-50{width:622px;height:580px;}
.pdf-obj-43-52{width:686px;height:13px;}
.pdf-obj-43-54{width:687px;height:56px;}
.pdf-obj-44-6{width:434px;height:1146px;}
.pdf-obj-44-23{width:77px;height:47px;}
.pdf-obj-44-36{width:77px;height:48px;}
.pdf-obj-44-42{width:78px;height:48px;}
.pdf-obj-44-48{width:78px;height:47px;}
.pdf-obj-44-54{width:78px;height:48px;}
.pdf-obj-44-63{width:78px;height:47px;}
.pdf-obj-44-70{width:78px;height:48px;}
.pdf-obj-44-79{width:78px;height:47px;}
.pdf-obj-44-86{width:78px;height:48px;}
.pdf-obj-44-113{width:1054px;height:150px;}
.pdf-obj-45-41{width:75px;height:169px;}
.pdf-obj-46-51{width:75px;height:169px;}
.pdf-obj-47-44{width:75px;height:169px;}
.pdf-obj-48-39{width:75px;height:169px;}
.pdf-obj-49-36{width:75px;height:169px;}
.pdf-obj-50-37{width:75px;height:169px;}
.pdf-obj-51-77{width:75px;height:169px;}
.pdf-obj-52-7{width:75px;height:169px;}
.pdf-obj-53-51{width:75px;height:169px;}
.pdf-obj-54-35{width:75px;height:169px;}
.pdf-obj-55-60{width:75px;height:169px;}
.pdf-obj-56-4{width:910px;height:484px;}
.pdf-obj-56-12{width:805px;height:403px;}
.pdf-obj-56-18{width:75px;height:169px;}
.pdf-obj-57-24{width:900px;height:470px;}
.pdf-obj-57-30{width:75px;height:169px;}
.pdf-obj-58-4{width:878px;height:1242px;}
.pdf-obj-58-12{width:75px;height:169px;}
.pdf-obj-59-66{width:75px;height:169px;}
.pdf-obj-60-29{width:75px;height:169px;}
.pdf-obj-61-40{width:75px;height:169px;}
.pdf-obj-62-72{width:75px;height:169px;}
.pdf-obj-63-44{width:75px;height:169px;}
.pdf-obj-64-43{width:75px;height:169px;}
.pdf-obj-65-39{width:75px;height:169px;}
.pdf-obj-66-30{width:75px;height:169px;}
.pdf-obj-67-31{width:75px;height:169px;}
.pdf-obj-68-29{width:862px;height:554px;}
.pdf-obj-68-35{width:75px;height:169px;}
.pdf-obj-69-72{width:75px;height:169px;}
.pdf-obj-70-62{width:75px;height:169px;}
.pdf-obj-71-109{width:75px;height:169px;}
.pdf-obj-72-43{width:75px;height:169px;}
.pdf-obj-73-37{width:75px;height:169px;}
.pdf-obj-74-32{width:75px;height:169px;}
.pdf-obj-75-29{width:906px;height:648px;}
.pdf-obj-75-33{width:75px;height:169px;}
.pdf-obj-76-34{width:75px;height:169px;}
.pdf-obj-77-34{width:75px;height:169px;}
.pdf-obj-78-54{width:75px;height:169px;}
.pdf-obj-79-32{width:75px;height:169px;}
.pdf-obj-80-41{width:75px;height:169px;}
.pdf-obj-81-38{width:75px;height:169px;}
.pdf-obj-83-111{width:75px;height:169px;}
.pdf-obj-85-69{width:75px;height:169px;}
.pdf-obj-86-50{width:75px;height:169px;}
.pdf-obj-87-93{width:75px;height:169px;}
.pdf-obj-88-33{width:75px;height:169px;}
.pdf-obj-89-36{width:75px;height:169px;}
.pdf-obj-90-28{width:75px;height:169px;}
.pdf-obj-91-52{width:75px;height:169px;}
.pdf-obj-104-147{width:421px;height:57px;}
.pdf-obj-104-149{width:421px;height:350px;}
.pdf-obj-104-151{width:620px;height:311px;}
.pdf-obj-104-153{width:719px;height:272px;}
.pdf-obj-104-228{width:321px;height:409px;}
.pdf-obj-104-231{width:103px;height:407px;}
.pdf-obj-104-233{width:499px;height:57px;}
.pdf-obj-104-235{width:300px;height:96px;}
.pdf-obj-104-237{width:201px;height:135px;}
.pdf-obj-104-239{width:102px;height:174px;}
.pdf-obj-105-14{width:547px;height:322px;}
.pdf-obj-106-31{width:77px;height:242px;}
.pdf-obj-106-33{width:77px;height:245px;}
.pdf-obj-106-36{width:77px;height:252px;}
.pdf-obj-106-39{width:260px;height:112px;}
.pdf-obj-106-41{width:260px;height:120px;}
.pdf-obj-106-43{width:77px;height:112px;}
.pdf-obj-106-45{width:77px;height:120px;}
.pdf-obj-106-47{width:458px;height:112px;}
.pdf-obj-106-49{width:458px;height:120px;}
.pdf-obj-123-4{width:471px;height:1006px;}
.pdf-obj-124-24{width:65px;height:39px;}
.pdf-obj-124-26{width:65px;height:34px;}
.pdf-obj-124-28{width:65px;height:24px;}
.pdf-obj-124-30{width:65px;height:36px;}
.pdf-obj-124-32{width:65px;height:35px;}
.pdf-obj-124-34{width:65px;height:50px;}
.pdf-obj-124-36{width:65px;height:34px;}
.pdf-obj-124-38{width:65px;height:54px;}
.pdf-obj-124-40{width:65px;height:32px;}
.pdf-obj-124-42{width:65px;height:29px;}
.pdf-obj-124-44{width:65px;height:39px;}
.pdf-obj-124-46{width:65px;height:32px;}
.pdf-obj-124-48{width:65px;height:50px;}
.pdf-obj-124-50{width:249px;height:39px;}
.pdf-obj-124-52{width:18px;height:39px;}
.pdf-obj-124-57{width:18px;height:34px;}
.pdf-obj-124-59{width:249px;height:24px;}
.pdf-obj-124-61{width:18px;height:24px;}
.pdf-obj-124-63{width:249px;height:36px;}
.pdf-obj-124-67{width:249px;height:35px;}
.pdf-obj-124-75{width:250px;height:24px;}
.pdf-obj-124-77{width:250px;height:36px;}
.pdf-obj-124-79{width:18px;height:36px;}
.pdf-obj-124-84{width:250px;height:35px;}
.pdf-obj-124-86{width:18px;height:35px;}
.pdf-obj-124-88{width:46px;height:39px;}
.pdf-obj-124-90{width:46px;height:34px;}
.pdf-obj-124-92{width:46px;height:24px;}
.pdf-obj-124-94{width:46px;height:36px;}
.pdf-obj-124-96{width:46px;height:35px;}
.pdf-obj-124-98{width:560px;height:828px;}
.pdf-obj-128-4{width:910px;height:484px;}
.pdf-obj-128-12{width:805px;height:403px;}
.pdf-obj-129-24{width:900px;height:470px;}
.pdf-obj-130-4{width:878px;height:1242px;}
.pdf-obj-152-4{width:824px;height:332px;}
.pdf-obj-152-8{width:663px;height:896px;}
.pdf-obj-154-4{width:841px;height:1115px;}
.pdf-obj-156-4{width:840px;height:1053px;}
.pdf-obj-157-8{width:737px;height:934px;}
.pdf-obj-159-7{width:829px;height:1170px;}
.pdf-obj-160-20{width:826px;height:458px;}
.pdf-obj-161-11{width:581px;height:504px;}
.pdf-obj-164-4{width:977px;height:656px;}
.pdf-obj-165-5{width:359px;height:108px;}
.pdf-obj-165-13{width:644px;height:267px;}
.pdf-obj-165-16{width:12px;height:12px;}
.pdf-obj-165-22{width:12px;height:12px;}
.pdf-obj-165-28{width:12px;height:12px;}
.pdf-obj-166-4{width:1043px;height:633px;}
.pdf-obj-167-38{width:782px;height:158px;}
.pdf-obj-167-40{width:121px;height:121px;}
.pdf-obj-167-42{width:143px;height:114px;}
.pdf-obj-167-44{width:500px;height:143px;}
.pdf-obj-167-48{width:11px;height:11px;}
.pdf-obj-167-52{width:11px;height:11px;}
.pdf-obj-167-56{width:11px;height:11px;}
.pdf-obj-170-8{width:600px;height:649px;}
.pdf-obj-170-13{width:277px;height:98px;}
.pdf-obj-170-18{width:703px;height:232px;}
.pdf-obj-170-28{width:12px;height:13px;}
.pdf-obj-170-34{width:12px;height:12px;}
.pdf-obj-170-40{width:12px;height:13px;}
