.pdf-obj-0-2{width:1137px;height:1635px;}
.pdf-obj-1-2{width:1153px;height:1601px;}
.pdf-obj-9-39{width:403px;height:168px;}
.pdf-obj-11-11{width:313px;height:191px;}
.pdf-obj-16-14{width:693px;height:349px;}
.pdf-obj-23-97{width:334px;height:286px;}
.pdf-obj-25-7{width:343px;height:275px;}
.pdf-obj-25-13{width:333px;height:289px;}
.pdf-obj-25-27{width:185px;height:217px;}
.pdf-obj-25-33{width:216px;height:214px;}
.pdf-obj-26-3{width:216px;height:231px;}
.pdf-obj-26-11{width:241px;height:221px;}
.pdf-obj-26-19{width:216px;height:240px;}
.pdf-obj-26-25{width:229px;height:238px;}
.pdf-obj-26-32{width:232px;height:234px;}
.pdf-obj-26-38{width:207px;height:245px;}
.pdf-obj-26-43{width:230px;height:230px;}
.pdf-obj-26-48{width:230px;height:237px;}
.pdf-obj-27-7{width:309px;height:282px;}
.pdf-obj-28-13{width:205px;height:269px;}
.pdf-obj-29-4{width:9px;height:23px;}
.pdf-obj-29-36{width:558px;height:411px;}
.pdf-obj-29-38{width:9px;height:23px;}
.pdf-obj-29-40{width:10px;height:27px;}
.pdf-obj-29-42{width:10px;height:23px;}
.pdf-obj-29-44{width:9px;height:23px;}
.pdf-obj-29-46{width:10px;height:23px;}
.pdf-obj-29-48{width:10px;height:23px;}
.pdf-obj-29-54{width:81px;height:9px;}
.pdf-obj-29-72{width:10px;height:23px;}
.pdf-obj-29-74{width:10px;height:23px;}
.pdf-obj-29-76{width:9px;height:23px;}
.pdf-obj-29-79{width:130px;height:80px;}
.pdf-obj-29-81{width:130px;height:161px;}
.pdf-obj-29-84{width:130px;height:80px;}
.pdf-obj-29-86{width:130px;height:162px;}
.pdf-obj-29-88{width:106px;height:80px;}
.pdf-obj-29-90{width:110px;height:80px;}
.pdf-obj-29-92{width:497px;height:249px;}
.pdf-obj-29-184{width:106px;height:161px;}
.pdf-obj-29-186{width:110px;height:161px;}
.pdf-obj-33-7{width:216px;height:132px;}
.pdf-obj-33-9{width:216px;height:132px;}
.pdf-obj-33-11{width:217px;height:132px;}
.pdf-obj-33-13{width:217px;height:132px;}
.pdf-obj-33-15{width:217px;height:132px;}
.pdf-obj-33-17{width:217px;height:132px;}
.pdf-obj-33-19{width:217px;height:132px;}
.pdf-obj-33-21{width:217px;height:132px;}
.pdf-obj-62-15{width:910px;height:643px;}
.pdf-obj-68-17{width:910px;height:642px;}
.pdf-obj-155-3{width:292px;height:143px;}
.pdf-obj-155-68{width:1045px;height:131px;}
.pdf-obj-182-3{width:353px;height:142px;}
.pdf-obj-182-116{width:1082px;height:1256px;}
.pdf-obj-194-7{width:147px;height:164px;}
.pdf-obj-200-12{width:220px;height:39px;}
.pdf-obj-200-14{width:202px;height:39px;}
.pdf-obj-200-28{width:918px;height:166px;}
.pdf-obj-200-30{width:198px;height:148px;}
.pdf-obj-200-32{width:14px;height:37px;}
.pdf-obj-200-44{width:14px;height:56px;}
.pdf-obj-200-46{width:56px;height:13px;}
.pdf-obj-200-73{width:212px;height:13px;}
.pdf-obj-200-75{width:13px;height:29px;}
.pdf-obj-200-77{width:747px;height:96px;}
