.pdf-obj-1-75{width:583px;height:41px;}
.pdf-obj-3-5{width:1038px;height:1419px;}
.pdf-obj-6-5{width:1038px;height:1411px;}
.pdf-obj-8-5{width:1038px;height:1424px;}
.pdf-obj-9-5{width:1038px;height:1415px;}
.pdf-obj-10-5{width:1038px;height:1411px;}
.pdf-obj-11-5{width:1038px;height:1425px;}
.pdf-obj-17-6{width:23px;height:83px;}
.pdf-obj-17-8{width:327px;height:83px;}
.pdf-obj-17-13{width:72px;height:83px;}
.pdf-obj-18-9{width:87px;height:52px;}
.pdf-obj-19-13{width:105px;height:169px;}
.pdf-obj-19-15{width:105px;height:132px;}
.pdf-obj-21-5{width:1024px;height:1362px;}
.pdf-obj-24-9{width:77px;height:194px;}
.pdf-obj-26-9{width:82px;height:52px;}
.pdf-obj-32-25{width:114px;height:140px;}
.pdf-obj-32-27{width:114px;height:404px;}
.pdf-obj-34-5{width:1011px;height:1407px;}
.pdf-obj-35-56{width:31px;height:20px;}
.pdf-obj-36-9{width:146px;height:28px;}
.pdf-obj-36-39{width:1011px;height:664px;}
.pdf-obj-37-5{width:1011px;height:1387px;}
.pdf-obj-39-31{width:1020px;height:292px;}
.pdf-obj-40-7{width:1015px;height:761px;}
.pdf-obj-40-9{width:984px;height:323px;}
.pdf-obj-41-18{width:1020px;height:422px;}
.pdf-obj-42-10{width:954px;height:460px;}
.pdf-obj-42-61{width:1038px;height:215px;}
.pdf-obj-43-5{width:1038px;height:1417px;}
.pdf-obj-46-7{width:190px;height:60px;}
.pdf-obj-46-136{width:190px;height:60px;}
.pdf-obj-46-248{width:1038px;height:420px;}
.pdf-obj-47-5{width:1038px;height:264px;}
.pdf-obj-47-54{width:1020px;height:431px;}
.pdf-obj-48-5{width:1020px;height:583px;}
.pdf-obj-49-5{width:1073px;height:1331px;}
.pdf-obj-50-5{width:1073px;height:1341px;}
.pdf-obj-51-5{width:1073px;height:1143px;}
.pdf-obj-52-14{width:1038px;height:1109px;}
.pdf-obj-53-58{width:1038px;height:505px;}
.pdf-obj-54-136{width:190px;height:60px;}
.pdf-obj-54-237{width:1025px;height:89px;}
.pdf-obj-57-85{width:413px;height:30px;}
.pdf-obj-75-11{width:112px;height:53px;}
.pdf-obj-76-9{width:112px;height:52px;}
.pdf-obj-77-10{width:112px;height:52px;}
.pdf-obj-78-10{width:112px;height:52px;}
